<div class="bg-gray-800 text-white w-64 h-screen position-fixed top-0 z-10 overflow-y-auto">    
  <div class="p-4 h-full">
      <div class="sticky top-0 text-white py-2 px-4 mb-2 mt-10">
          <button (click)="showProducts()" class="block w-full rounded-md text-left text-md-center mb-2 focus:outline-none focus:bg-gray-700 flex items-center">
              <mat-icon class="mr-2">inbox</mat-icon> <!-- Material icon -->
              Manage Products
          </button>
          <button (click)="showCategories()" class="block w-full rounded-md text-left text-md-center mb-2 focus:outline-none focus:bg-gray-700 flex items-center">
              <mat-icon class="mr-2">view_list</mat-icon> <!-- Material icon -->
              Manage Categories
          </button>
          <button (click)="showDeliveryServices()" class="block w-full rounded-md text-left text-md-center mb-2 focus:outline-none focus:bg-gray-700 flex items-center">
              <mat-icon class="mr-2">local_shipping</mat-icon> <!-- Material icon -->
              Delivery Services
          </button>
      </div>
      <div class="h-16"></div>
  </div>
</div>
