<div #screenMenu
    class="screen-menu bg-[#245963] text-white text-[20px] h-[100vh] w-[250px] fixed top-[100px] right-[-450px] flex flex-col justify-normal items-center text-center mt-[60px]">
    <ul class="flex flex-col p-[20px] items-start w-full gap-[10px]">
        <div class="side flex gap-[10px] text-[20px] font-[600]">
            <div *ngIf="username" class="hide text-white">Welcome,
                {{username}}</div>
            <div *ngIf="!username" class="hide text-white">Login to
                continue</div>
        </div>
        <a [routerLink]='["/home/yourorders"]' *ngIf="isLoggedIn">
            <li class="flex items-center space-x-2 li-animate-hover">
                <div class="w-[20px] h-[20px] flex items-center justify-center">
                    <i class="fas fa-box"></i>
                </div>
                <span>Your Orders</span>
            </li>
        </a>
        <a [routerLink]='["/home/cart"]' *ngIf="isLoggedIn">
            <li class="flex items-center space-x-2 li-animate-hover">
                <div class="w-[20px] h-[20px] flex items-center justify-center">
                    <i class="fas fa-shopping-cart"></i>
                </div>
                <span>Your Cart</span>
            </li>
        </a>
        <li (click)="logout()" *ngIf="isLoggedIn"
            class="flex items-center space-x-2 li-animate-hover cursor-pointer">
            <div class="w-[20px] h-[20px] flex items-center justify-center">
                <i class="fas fa-sign-out-alt"></i>
            </div>
            <span >Logout</span>
        </li>
        <a *ngIf="!isLoggedIn" [routerLink]='["/home/auth"]'>
            <li class="flex items-center space-x-2 li-animate-hover">
                <div class="w-[20px] h-[20px] flex items-center justify-center">
                    <i class="fas fa-sign-out-alt"></i>
                </div>
                <span>Sign-In</span>
            </li>
        </a>
        <a *ngIf="isAdmin" [routerLink]='["/admin"]'>
            <li
                class="flex text-white hover:text-gray-300 space-x-2 text-left items-start">
                <div class="w-[20px] h-[20px] flex items-center mt-1">
                    <mat-icon>dashboard</mat-icon>
                </div>
                <span>Admin</span>
            </li>
        </a>
    </ul>
</div>
<div #hamMenu class="ham-menu">
    <span></span>
    <span></span>
    <span></span>
</div>