<div class="parent w-[100vw] flex items-center justify-center h-[100vh]">
    <div class="child w-[70%] h-adj min-w-[70vw] h-[80%] flex items-center justify-center rounded-[20px]">
        <div class="Mainimg w-full h-full flex-[1] min-w-[400px] ml-[30px]">
        </div>
        <div class="w-full h-full flex-col flex-[1] min-w-[300px] flex justify-center py-[40px] px-[40px] gap-[20px] p-adj"> 
            <div class="flex justify-center items-center w-full h-full">
                <div class="px-[20px] slide-down">
                    <div class="bg-gray-50 rounded-lg shadow-md px-[50px] pt-[20px] pb-[30px]">
                        
                        <!-- Reset password box -->
                            <h2><strong>Reset Account Password</strong></h2>
                            <div>
                                <label for="email" class="block text-sm font-semibold mb-1">Email</label>
                                <input type="email" id="email" formControlName="email" placeholder="Enter your email"
                                    class="w-full border-gray-300 rounded-md p-3 focus:outline-none focus:ring focus:border-blue-400" />
                            </div>
                            <!-- call the click method in button for sending the email -->
                            <div class="flex justify-center">
                                <button type="button" 
                                    class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded focus:outline-none focus:ring">Send Email</button>
                            </div>

                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>