.parent{
    background-image: linear-gradient(to bottom right, #3b8585,#6698ac, #0de4c5);
}

.child{
    background-image: linear-gradient(to bottom right,#112f47,#035094, #035094);

}

.Mainimg{
    background-image: url('../../../assets/Image/Landing-image.webp');
    background-position: center;
    background-repeat: no-repeat;
}



h2 {
    font-size: 20px; 
    font-weight: bold; 
    color: #333;
    margin-bottom: 20px;
    }




input[type="email"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}




  
@media screen and (max-width :1100px){
    
    input[type="email"]{
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .child{
        width: 80%;
        height: 90;
    }
   
    
    .h-adj{
        height: 90%;
    }
    
}
@media screen and (max-width: 900px){
    .parent{
        display: block;
    }
    
    .Mainimg{
        display: none;
    }
    
    h2{
        font-size: 1rem;
    }
    .child{
        border-radius: 0;
        width: 100vw;
        height: 100vh;
        overflow: visible;   
    }
    
}
@media (max-width: 500px){
    .p-adj{
        padding-left: 0;
        padding-right: 0;
    }
}