<div class="w-full h-full flex px-[10px] flex-col">
    <form>
        <div class="flex gap-[10px]"
            *ngFor="let service of delivery; let i = index">
            <label class="flex w-full gap-[10px]">
                <input type="radio" name="deliveryOption" [value]="service"
                    (change)="onChangeDelivery(i)" [checked]="i === activeIndex"
                    class="w-fit" />
                <div class="flex justify-between w-full">
                    <div class="font-bold">{{service.serviceName}} -
                        {{service.deliveryDays}} days</div>
                    <div class="font-bold text-[gray]">₹ {{service.price}}</div>
                </div>
            </label>
        </div>
    </form>
    <div class="w-full h-full flex items-center justify-center mb-[10px]">
        <div
            class="w-[160px] h-[40px] cursor-pointer rounded-[20px] px-[10px] bg-black text-white font-bold text-center flex items-center justify-center"
            (click)="onSaveClick()">Save Changes</div>
    </div>
</div>