.navbar {
  border-bottom: 1px solid #c2baba; 
}
::-webkit-scrollbar{
  display: none;
}



.box::-webkit-scrollbar{
  display: none;
}
@media (max-width: 1100px){
  .col{
      flex-direction: column;
  }
  .box{
      width: 100vw;
  }
  .sidebar{
      width: 100vw;
  }
  .unfix{
      position: relative;
  }
}
