<p>Hello product</p>

<!-- <html>
<body>
  <main>
    <div *ngFor="let product of products"  class="card">
      <div class="card__title">
        <div class="icon">
          <a href="#"><i class="fa fa-arrow-left"></i></a>
        </div>
        <h3>New products</h3>
      </div>
      <div class="card__body">
        <div class="half">
          <div class="featured_text">
            <h1>Nurton</h1>
            <p class="sub">{{product ? product.productName : 'loding'}}</p>
            <p class="price">{{product ? product.productPrice : 'loding'}}</p>
          </div>
          <div class="image" [style.backgroundImage]="'url(' + (product ? product.productImageUrl : 'loding') + ')'">
          
          </div>
        </div>
        <div class="half">
          <div class="description">
            {{product ? product.productDesc : 'loding'}}
          </div>
          <span class="stock"><i class="fa fa-pen"></i> In stock</span>
          <div class="reviews">
            <ul class="stars">
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star"></i></li>
              <li><i class="fa fa-star-o"></i></li>
            </ul>
            <span>(64 reviews)</span>
          </div>
        </div>
      </div>
      <div class="card__footer">
        <div class="recommend">
          <p>Recommended by</p>
          <h3>Andrew Palmer</h3>
        </div>
        <div class="action">
          <button type="button">Add to cart</button>
        </div>
      </div>
    <!-- </div> -->
  <!-- </main>
</body>

</html> --> -->