<div class="w-full h-fit border flex bg-white flex-col rounded-[10px]">
    <!-- <div class="font-bold text-[24px] px-[20px] py-[10px]">Trending</div>
    <app-grid-display-card class="hide" [products]="products"></app-grid-display-card>
    <app-scroll-display-card class="unhide" [products]="products"></app-scroll-display-card> -->
    <div class="font-bold text-[24px] px-[20px] py-[10px]">Search results</div>
    <app-search-product-card-without-scroll [products]="products" *ngIf="products?products.length>0:false "></app-search-product-card-without-scroll>
    <div class="text-xl text-gray-500 italic pb-[10px] px-[20px]" *ngIf="products?.length===0">
        No Search Results Found
    </div>
</div>