<div class="parent w-[100vw] flex items-center justify-center h-[100vh]">
  <div class="child w-[80%] h-adj min-w-[70vw] h-[70%] flex items-center justify-center rounded-[20px] bg-white">
    <div class="landing-img w-full h-full flex-[1] min-w-[400px] ml-[30px]">
    </div>
    <div class="w-full h-full flex-col flex-[1] min-w-[300px] flex justify-center py-[40px] px-[40px] gap-[20px] p-adj">
      <div class="flex justify-center items-center w-full h-full gap-[20px]">
        <div class="px-[20px] ">
          <div class="pt-[10px] pb-[10px]">
            <!-- Reset password box -->
            <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm" class="max-w-md mx-auto">
              <div class="mb-4">
                <label for="password" class="text-[#36737c] text-[20px] leading-[54px] font-bold relative"><strong>New Password</strong></label>
                <input type="password" id="password" name="password" [(ngModel)]="resetPasswords.password" required
                       class="w-full border-black rounded-md p-3 focus:outline-1 focus:ring focus:border-blue-400" />
              </div>
              <div class="mb-4">
                <label for="confirmPassword" class="text-[#36737c] text-[20px] leading-[54px] font-bold relative"><strong>Confirm Password</strong></label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="resetPasswords.confirmPassword" required
                       class="w-full border-black rounded-md p-3 focus:outline-1 focus:ring focus:border-blue-400" />
              </div>
              <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring"
                      [disabled]="!resetPasswordForm.valid">Reset Password</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

