<div class="parent w-[100vw] flex items-center justify-center h-[100vh]">
  <div
    class="child w-[80%] h-adj min-w-[70vw] h-[70%] flex items-center justify-center rounded-[20px] bg-white">
    <div class="landing-img w-full h-full flex-[1] min-w-[400px] ml-[30px]">
    </div>
    <div
      class="w-full h-full flex-col flex-[1] min-w-[300px] flex justify-center py-[40px] px-[40px] gap-[20px] p-adj">
      <div class="flex justify-center items-center w-full h-full gap-[20px]">
        <div class="px-[20px] ">
          <div class="pt-[10px] pb-[10px]">
            <!-- Reset password box -->
            <div class="mb-4">
              <label for="password"
                class="text-[#36737c] text-[20px] leading-[54px] font-bold relative"><strong>New
                  Password</strong></label>
              <input type="password" id="password" name="password" required
                class="w-full border-[2px] border-cyan-900 rounded-md p-3 focus:outline-1 focus:ring focus:border-blue-400"
                #password />
            </div>
            <div class="mb-4 relative">
              <label for="confirmPassword"
                class="text-[#36737c] text-[20px] leading-[54px] font-bold"><strong>Confirm
                  Password</strong></label>
              <input type="{{inputType}}" id="confirmPassword" name="confirmPassword"
                required
                class="w-full border-[2px] border-cyan-900 rounded-md p-3 focus:outline-1 focus:ring focus:border-blue-400"
                #confirmPassword />
            </div>
            <button type="button"
              class="w-full bg-[#21474d] text-white font-bold py-3 px-6 rounded focus:outline-none focus:ring"
              (click)="resetPassword(password.value, confirmPassword.value)">
              <span *ngIf="!spinLoader">Reset Password</span>
              <div *ngIf="spinLoader" class="flex justify-center">
                <app-loader></app-loader>
              </div>
            </button>
            <div *ngIf="resetResponse"
              class="text-green-600 text-sm text-center mt-2">
              {{ resetResponse }}
            </div>
            <div *ngIf="resetError"
              class="text-red-600 text-sm text-center mt-2">
              {{ resetError }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>