.navbar {
    border-bottom: 1px solid #c2baba; /* Add a thin solid border at the bottom */
  }
  ::-webkit-scrollbar{
    display: none;
  }


  /* spinner.component.css */
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height based on your design */
}

.spinner-circle {
  width: 50px; /* Adjust the size based on your design */
  height: 50px; /* Adjust the size based on your design */
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}