<div class="navbar fixed top-0 left-0 w-full z-50"> <!-- Add z-50 to ensure navbar is above other elements -->
  <app-navbar></app-navbar>
</div>

<div class="flex h-full">
  <!-- Sidebar -->
  <div class="sidebar fixed top-0 left-0 h-full z-40"> <!-- Add z-40 to ensure sidebar is below navbar -->
      <app-sidebar></app-sidebar>
  </div>

  <!-- Main content -->
  <div class="flex-grow bg-gray-200 p-8 overflow-scroll ml-64 ">
      <h2 class="text-2xl font-bold mb-4 mt-5">Products</h2>
      <div class="mb-8 text-center">
        <button (click)="openAddProductPage()" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"> Add New Product</button>
    </div>


      <div *ngIf="products.length<=1">No Products to show</div>


      <!-- Tiles of products -->
      <div *ngIf="products.length>1">
          <div class="grid grid-cols-4 gap-4">
              <div *ngFor="let product of products" class="bg-white rounded-lg shadow-md p-4">
                  <h3 class="text-lg font-bold mb-2">{{ product.productName }}</h3>
                  <img src="{{ product.productImageUrl }}" alt="{{ product.productName }}" class="w-48 h-48 object-cover mb-2">
                  <p class="text-gray-600">{{ product.productDesc | slice:0:30 }}{{ product.productDesc.length > 30 ? '...' : '' }}</p>
                  <p class="text-green-600">₹{{  product.productPrice }}</p>
                  <button   (click)="openEditPage(product)"  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2 mt-2">Edit</button>
                  <button  (click)="openDeletePopup(product)" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mt-2">Delete</button>
              </div>
          </div>
      </div>
  </div>
</div>



