<!-- admin-dashboard.component.html -->
<div class="navbar">
    <app-navbar></app-navbar>
</div>

<div class="flex">
    <!-- Sidebar -->
    <div class="bg-gray-800 text-white w-64 h-screen ">
    
      <!-- Sidebar items -->
      <div class="p-4">
        <button (click)="showProducts()" class="block w-full py-2 px-4 rounded-md text-left text-sm mb-2   text-green-300 focus:outline-none focus:bg-gray-700">
          Manage Products
        </button>
        <button (click)="showCategories()" class="block w-full py-2 px-4 rounded-md text-left text-sm mb-2  focus:outline-none focus:bg-gray-700">
          Manage Categories
        </button>
      </div>
    </div>
  
    <!-- Main content -->
   
  </div>
  