<div class="parent w-[100vw] flex items-center justify-center h-[100vh] relative">
    <div class=" child w-[70%] h-[80%] flex">
        <div class="img w-full h-full flex-[1] ">

        </div>
        <div class="w-full h-full flex-col flex-[1] flex justify-center py-[40px] px-[40px] text-white gap-[20px]">
            <div class="form w-[80%] h-[80%]">
                <div class="social-login">
                    <a href="#" class="google">
                      <img src="../../../assets/Image/google.png" alt="" />
                      <span>Sign up with Google</span>
                    </a>
                    <a href="#" class="facebook">
                      <img src="../../../assets/Image/facebook.png" alt="" />
                      <span>Sign up with Facebook</span>
                    </a>
                  </div>
                  <div class="or">- OR -</div>
                <h2><strong>Login</strong></h2>
                <form action="#" method="post">
                    <input type="text"  name="username" placeholder="Username" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <input type="submit" value="Login">
                </form>
                <div class="flex gap-2 pt-7 cursor-pointer hover:scale-110 text-blue-500">
                    <div class="">Create Account</div>
                    <div class="">&rarr; </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- flex bg-white text-black justify-center text-center pt-4 -->