<div class="parent w-[100vw] flex items-center justify-center h-[100vh] relative">
    <div class="child w-[95%] min-w-[90vw] h-[80%] flex">
        <div class="Mainimg w-full h-full flex-[1] min-w-[400px] ml-[30px]">
        </div>
        <div class="w-full h-full flex-col flex-[1] min-w-[300px] flex justify-center py-[40px] px-[40px] text-white gap-[20px]">
            <div class="form w-[95%] h-[90%]">
                <!-- <div class="social-login">
                    <a href="#" class="google">
                      <img src="../../../assets/Image/google.png" alt="" />
                      <span>Sign up with Google</span>
                    </a>
                    <a href="#" class="facebook">
                      <img src="../../../assets/Image/facebook.png" alt="" />
                      <span>Sign up with Facebook</span>
                    </a>
                  </div>
                  <div class="or">- OR -</div> -->
                <div class="font-bold text-[32px] text-black leading-[64px]">Sign In</div>
                <form class="form-details w-full px-[40px] max-w-[400px]" action="#" method="post">
                    <input type="email"  name="email" placeholder="Email" required><br>
                    <input type="password" name="password" placeholder="Password" required><br>
                    <input type="submit" value="Login">
                </form>
                <a href="/home/register">
                <div class="createbtn flex gap-2 pt-7 cursor-pointer hover:scale-110 text-blue-500">
                    <div class="">Create Account</div>
                    <div class="">&rarr; </div>
                </div>
            </a>
            </div>
            
        </div>
    </div>
    
</div>

