.parent{
    background-image: linear-gradient(to bottom right, #3b8585,#6698ac, #0de4c5);
}

.child{
    background-image: linear-gradient(to bottom right,#112f47,#035094, #035094);

}

.img{
    /* background-image: linear-gradient(to bottom right,#112f47,#035094, #035094); */
    background-image: url('../../../assets/Image/Landing-image.webp');
    background-position: center;
    background-repeat: no-repeat;
}

.form{
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 800px; */
}

h2 {
    margin-bottom: 20px;
    color: #333;
}


input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


