<div class="w-full h-full border flex flex-col rounded-[10px]">
    <div class="text-[32px] font-bold px-[20px]">
        Categories
    </div>
    <div class="w-full h-[40px] flex items-center text-[16px] px-[30px]">
        Electronics
    </div>
    <div class="w-full h-[40px] flex items-center text-[16px] px-[30px]">
        Footwear
    </div>
    <div class="w-full h-[40px] flex items-center text-[16px] px-[30px]">
        Clothing
    </div>
    <div class="w-full h-[40px] flex items-center text-[16px] px-[30px]">
        Drinks
    </div>
</div>