<!-- <div class="w-full h-fit flex flex-col gap-[20px]" >
    <div *ngFor="let product of products" class="w-full h-[200px] border rounded-[10px] flex overflow-hidden"  >  
        <div class="w-full h-full flex-[1] bg-gray-300 bg-[center]" [style.backgroundImage]="'url(' + product.productImageUrl + ')'" (click)="handleClick(product.productId)"></div>
        <div class="w-full h-full flex-[3] py-[10px] px-[20px]" (click)="handleClick(product.productId)">
            <div class="text-[28px] font-bold leading-[32px]">{{product.productName}}</div>
            <div class="text-[16px] leading-[16px] mb-2">{{product.productPrice}}</div>
            <div class="text-[20px] italic leading-[24px]">{{product.productDesc}}</div>
        </div>
          
            <a href="/home/cart" > <div class=" button w-[150px] aspect-[3] border flex items-center justify-center text-[20px]">
                 ADD TO CART
            </div></a>
        
    </div>
</div> -->
<div class="w-full h-fit flex flex-col gap-[20px]" >
<div *ngFor="let product of products" class="parent w-full relative h-[150px] cursor-pointer text-white rounded-[10px] overflow-hidden  flex items-center justify-between hoverbehave">
    <div class="w-[30%] h-[150px] absolute clip" ></div>
    <div class="aspect-square h-[120px] rounded-[50%] z-[5] ml-[20px]" [style.backgroundImage]="'url(' + product.productImageUrl + ')'" (click)="handleClick(product.productId)">
    </div>
    <div class="h-[150px] relative w-fit flex mr-[20px] gap-[10px]">
        <div class="h-[110px] flex flex-col text-white text-right py-[20px]" >
            <div class="text-[22px] font-[600] smtext"(click)="handleClick(product.productId)">{{product?.productName}}</div>
            <div class="text-[14px] italic opacity-80 leading-[16px] mb-[8px] hover:underline"(click)="handleClick(product.productId)">{{product?.productDesc}}</div>
            <div class="text-[16px] smmtext" (click)="handleClick(product.productId)">{{product.productPrice}}</div>
        
            <a href="/home/cart" > <div class=" button w-[100px] aspect-[3] border flex items-center justify-center text-[10px] smmtext">
                ADD TO CART
           </div></a>
        </div>
        
        <div class="h-[135px] w-[4px] self-end" ></div>
        <div class="h-[100px] self-end w-[16px] flex items-start justify-start mb-[10px] text-[12px] text-gray-400" style="text-orientation: mixed; writing-mode: vertical-rl; transform: rotate(180deg); letter-spacing: 2px; line-height: 12px;">
            Add to cart
        </div>
    </div>
</div>
</div>
<!-- 
<div class="flex items-center bg-indigo-100 w-screen min-h-screen" style="font-family: 'Muli', sans-serif;">
    <div class="container ml-auto mr-auto flex flex-wrap items-start">
      <div class="w-full pl-5 lg:pl-2 mb-4 mt-4">
        <h1 class="text-3xl lg:text-4xl text-gray-700 font-extrabold">
          Best Sellers
        </h1>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="https://srv-cdn.onedio.com/store/bf2cbc886120f284ef46fd92a48f5fb58c62e6a50fbdf8fa796d057dd0ddc242.png" alt="" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-purple-700 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                iPhone 11 Pro Max
              </h5>
              <span class="text-xs text-gray-400 leading-none">And then there was Pro.</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                $1099,00
              </div>
              <button href="javascript:;" class="rounded-full bg-purple-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="https://srv-cdn.onedio.com/store/7fd6410ffac110960cb4a60b09878db19ebbdf3c8b6e842918d16f3c61784763.png" alt="" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-purple-600 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                iPhone 11
              </h5>
              <span class="text-xs text-gray-400 leading-none">Just the right amount of everything.</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                $699,00
              </div>
              <button href="javascript:;" class="rounded-full bg-purple-800 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="https://srv-cdn.onedio.com/store/988bccbdb9ca395f581f98faa9ce3a55123f12bfcef608c838532b813646e557.png" alt="" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-gray-700 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                iPhone XR
              </h5>
              <span class="text-xs text-gray-400 leading-none">Brilliant. In every way.</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                $599,00
              </div>
              <button href="javascript:;" class="rounded-full bg-gray-900 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/2 lg:w-1/4 pl-5 pr-5 mb-5 lg:pl-2 lg:pr-2">
        <div class="bg-white rounded-lg m-h-64 p-2 transform hover:translate-y-2 hover:shadow-xl transition duration-300">
          <figure class="mb-2">
            <img src="https://srv-cdn.onedio.com/store/cfdd8ebc1b39e215c44c7c9a02bfaa49287f79b806ec5743124d0aea25c2b0c3.png" alt="" class="h-64 ml-auto mr-auto" />
          </figure>
          <div class="rounded-lg p-4 bg-gray-600 flex flex-col">
            <div>
              <h5 class="text-white text-2xl font-bold leading-none">
                iPhone SE
              </h5>
              <span class="text-xs text-gray-400 leading-none">Lots to love.
                Less to spend.</span>
            </div>
            <div class="flex items-center">
              <div class="text-lg text-white font-light">
                $399,00
              </div>
              <button href="javascript:;" class="rounded-full bg-gray-800 text-white hover:bg-white hover:text-purple-900 hover:shadow-xl focus:outline-none w-10 h-10 flex ml-auto transition duration-300">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="stroke-current m-auto">
                  <line x1="12" y1="5" x2="12" y2="19"></line>
                  <line x1="5" y1="12" x2="19" y2="12"></line>
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->