<div class="w-full h-fit border flex bg-white flex-col rounded-[10px]">
    <div class="font-bold text-[24px] px-[20px] py-[10px]">Trending</div>
    <app-grid-display-card
        class="hide"
        [products]="trendingProducts"></app-grid-display-card>
    <app-scroll-display-card
        class="unhide"
        [products]="trendingProducts"></app-scroll-display-card>
    <div class="font-bold text-[24px] px-[20px] pt-[20px]">
        {{ categoryName ? categoryName : "Category Name" }}
    </div>
    <app-product-scroll-display-card
        [products]="filteredProducts"
        (fetchNextPage)="handleEmitter()"></app-product-scroll-display-card>
</div>