<div class="flex justify-center">
  <mat-card class="w-96 p-4">
    <h4 class="text-xl">Login</h4>
    <form [formGroup]="loginForm">

      <div>
        <mat-form-field class="w-full">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="w-full">
          <mat-label>OTP</mat-label>
          <input matInput type="text" formControlName="otp" />
        </mat-form-field>
      </div>
      <div class="w-full flex justify-center">
        <button mat-raised-button color="primary" (click) = "onlogin2FA()">Login</button>
      </div>
      <div class="w-full flex justify-center">
        <button mat-raised-button color="primary" (click) = "onlogin2FA2()">Login</button>
      </div>
    </form>
  </mat-card>
</div>


