@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar{
    display: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-display: swap;
}
.bg-100{
    background-position: center;
    background-size: 100% 100%;
}
