<div class="w-[100vw] flex items-center justify-center h-[100vh] relative parent">
    <div class="child w-[90%] h-[80%] flex" >
        <div class="w-full h-full flex-col flex-[1] flex justify-center py-[40px] px-[40px] text-white gap-[20px]">
            <div class="logo text-[64px] leading-[64px]">AccoMart</div>
            <div class="shopping text-[48px] font-bold leading-[48px]">Online Shopping</div>
            <div class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem magni sunt, eaque qui perferendis quod itaque deserunt sint ipsa, veritatis, exercitationem delectus ullam eius sapiente natus totam ab iure iste fugit consectetur odit officiis. Mollitia, dolorum? Voluptate provident architecto laboriosam.</div>
            <a href="home"> <div class=" button w-[150px] aspect-[3] border flex items-center justify-center text-[20px]">
                SHOP NOW
            </div></a>
           
        </div>
        
        <div class="landing-img w-full h-full flex-[1]">
           
        </div>
    </div>
</div>
