<div class="w-[100vw] flex items-center justify-center h-[100vh] relative parent">
    <div class="child w-[85%] h-[75%] min-h-fit flex relative shadow-2xl rounded-[10px] overflow-hidden size-adj">
        <div class="w-full h-full flex-col flex-[1] flex justify-center py-[40px] px-[40px] text-black gap-[10px] pad-adj">
            <div class="logo text-[64px] leading-[54px] font-bold text-[#36737c]">AccoMart</div>
            <div class="shopping text-[48px] font-semibold leading-[48px] mb-2 text-[#6cc0bc]">Online Shopping</div>
            <div class="text font-semibold">Hello there! Welcome to AccoMart, an all in one shopping application you will ever need. Built using Angular, Dotnet Web API and SQL, we deliver a very great product to you</div>
            <a href="home"> <div class=" button w-[150px] aspect-[3] font-[900] bg-[#36737c] text-white rounded-[10px] border flex items-center justify-center text-[20px]">
                SHOP NOW
            </div></a>
        </div>
        <div class="landing-img w-full h-full flex-[1]"></div>
    </div>
</div>
