.checkout{
    background-image: linear-gradient(to bottom right, #3b8585,#6698ac, #0de4c5);
}

.parent {
    position: relative;
}

.parent::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/Image/landing-bg.jpg');
    background-position: center;
    background-size: cover;
    /* filter: blur(5px); */
    z-index: -1;    
}
