<div class="max-w-[100vw] min-h-[100vh] flex flex-col px-[5vh] py-[5vh] parent p-parent relative">
    <app-navbar></app-navbar>
    <div class="w-full h-full bg-gray-300 flex col p-adj gap-[20px] px-[40px] pt-[30px]">
        <div class="w-full h-full flex-[75] flex flex-col ">
            <div class="text-right text-4xl pr-[100px]">INVOICE</div>
            <div class="flex pt-[10px] pb-[10px]">
                <div class="flex-1 pt-[10px] pl-[100px] ">
                   <div class="text-sm">INVOICE TO:</div>
                   <div class="text-lg uppercase">Kalika Awasthi</div>
                </div>
                <div class="flex-1 pt-[10px] pl-[100px]">
                    <div class="text-sm">DATE: 15/05/2024</div>
                    <div class="text-sm">INVOICE NO: 5782920</div>
                </div>
                <div  class="flex-1 pt-[10px] pl-[100px]" >
                    <div class="text-sm">TOTAL-DUE:</div>
                    <div class="text-lg">INR-1500</div>
                </div>
            </div>
            <div class="checkout flex pt-[10px] pb-[10px] gap-[10px]">
                <div class="flex-1 text-lg pl-[100px] text-white">DESCRIPTION</div>
                <div class="flex-1 text-lg pl-[80px] text-white">QTY</div>
                <div class="flex-1 text-lg pl-[80px] text-white">PRICE</div>
                <div class="flex-1 text-lg pl-[80px] text-white">TOTAL</div>
            </div>
            <div class="flex pt-[10px] bg-white">
                <div class="flex-1 text-base pl-[100px]">ITEM-1</div>
                <div class="flex-1 text-base pl-[100px]">2</div>
                <div class="flex-1 text-base pl-[100px]">120</div>
                <div class="flex-1 text-base pl-[100px]">240</div>
            </div>
            <div class="flex pt-[10px] bg-gray-200">
                <div class="flex-1 text-base pl-[100px]">ITEM-2</div>
                <div class="flex-1 text-base pl-[100px]">2</div>
                <div class="flex-1 text-base pl-[100px]">120</div>
                <div class="flex-1 text-base pl-[100px]">240</div>
            </div>
            <div class="flex pt-[10px] bg-white">
                <div class="flex-1 text-base pl-[100px]">ITEM-3</div>
                <div class="flex-1 text-base pl-[100px]">2</div>
                <div class="flex-1 text-base pl-[100px]">120</div>
                <div class="flex-1 text-base pl-[100px]">240</div>
            </div>
            <div class="flex pt-[10px] bg-gray-200">
                <div class="flex-1 text-base pl-[100px]">ITEM-4</div>
                <div class="flex-1 text-base pl-[100px]">2</div>
                <div class="flex-1 text-base pl-[100px]">120</div>
                <div class="flex-1 text-base pl-[100px]">240</div>
            </div>
            <br>
            <div class="border-t border-black"></div>
            <br>
            <div class="flex">
                <div class="flex-1  pl-[100px]">
                     <div class="text-base">PAYMENT METHOD:</div>
                     <div class="text-lg">COD</div>
                </div>

                <div class="flex-1 flex-col items-center justify-center ">
                    <div class="flex-1 flex">
                        <div class="flex-1 pl-[100px]">SUB-TOTAL:</div>
                        <div class="flex-1">INR-1440</div>
                    </div>
                    <div class="flex-1 flex">
                        <div class="flex-1 pl-[100px]">TAX:</div>
                        <div class="flex-1">INR-60</div>
                    </div>
                   
                </div>
            </div>
            <br>
            <div class="flex">
                <div class="flex-1">
                    <div class="flex-col flex">
                        <div class="flex-1 pl-[100px] text-lg">
                            DELIVERY ADDRESS:
                        </div>
                        <div class="flex-1 pl-[100px] text-sm">
                            MAGNUM TOWERS-1 SECTOR-58, GURUGRAM . HARAYANA
                        </div>
                    </div>
                </div>
                <div class="flex-1 pl-[250px] pr-[100px]">
                    <div class="checkout flex "> 
                        <div class="flex-1 pl-[80px] text-lg text-white">TOTAL:</div>
                        <div class="flex-1 pl-[80px] text-lg text-white">INR-1500</div>
                    </div>
                </div>
            </div>
            <br>
            <div class="flex">
                <div class="flex-1"></div>
                <div class="flex-1 text-center justify-center text-4xl">AccoMart</div>
            </div>
            <br>
    </div>
</div>
