<div class="flex justify-center mt-10">
  <div class="w-96">
    <div class="bg-gray-100 rounded-lg shadow-md p-6">
      <h4 class="text-3xl font-bold text-center mb-6">Login With OTP</h4>
      <form [formGroup]="loginForm" class="space-y-4">
        <div>
          <input type="text" formControlName="email" placeholder="Email"
            class="w-full border rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" />
        </div>
        <div>
          <input type="text" formControlName="otp" placeholder="OTP"
            class="w-full border rounded-md p-2 focus:outline-none focus:ring focus:border-blue-300" />
        </div>
        <!-- <div class=" mt-4 ">
          <a href="#" class="text-blue-500 hover:underline">Resend OTP</a>
        </div> -->
        <div class="flex justify-center items-center">
          <button (click)="onlogin2FA()"
            class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:ring">Login</button>
        </div>
      </form>
    </div>
  </div>
</div>