<div class="w-[100vw] h-fit min-h-[100vh] relative flex flex-col parent px-[2.5vw] py-[5vh] items-center justify-center">
    <div class="w-full bg-gray-300 overflow-hidden rounded-t-[10px]">
        <div class="w-full h-[50px]">
            <app-navbar></app-navbar>
        </div>
        <div class="w-full h-full border flex relative py-[20px]">
            <div class="w-full h-full flex-[25] sticky top-[30px] min-h-[20vh] px-[20px]">
                <app-category-navbar [categories]="categories" (categorySelected)="onCategorySelected($event)">
                </app-category-navbar>
            </div>
            <div class="w-full relative h-fit flex-[75] rounded-[10px] mr-[20px]">
                <app-product-card [products]="products"></app-product-card>
            </div>
        </div>
    </div>
</div>