<div class="max-w-[100vw] min-h-[100vh] bg-blue-50 flex flex-col px-[5vh] py-[5vh] parent">
  <app-navbar></app-navbar>
  <div class="w-full h-full flex gap-[20px] px-[40px] pt-[30px] bg-gray-300 col">
    <div class="w-full h-full flex-[75] flex flex-col">
      <div class="font-bold text-[28px] leading-[32px]">Shopping Cart</div>
      <div class="text-[16px]"><span class="font-semibold">2 items</span> in your cart</div>
      <div class="w-full h-[100vh] bg-white rounded-[20px] my-[30px]">

      </div>
    </div>
    <div class="w-full h-full flex-[25] sticky top-[20px] flex flex-col gap-[20px] mb-[30px] minw">
      <div class="w-full h-fit bg-white rounded-[20px] flex flex-col px-[20px] py-[16px] gap-[10px]">
        <div class="font-bold text-[24px] leading-[28px]">Delivery Address</div>
        <div class="w-full h-[1px] bg-black"></div>
        <div class="">377, Block B, International street of Dholakpur, Dholakpur - 111222, Unknown Pradesh</div>
        <div class="w-[80%] my-[10px] h-[40px] rounded-[20px] bg-black self-center flex justify-center items-center">
          <div class="text-white font-semibold cursor-pointer">Change Address</div>
        </div>
      </div>
      <div class="parent w-full h-fit rounded-[20px] flex flex-col text-white px-[20px] py-[16px] gap-[10px]">
        <div class="font-bold text-[24px] leading-[28px]">Cart Summary</div>
        <div class="w-full h-[1px] bg-white mb-[10px]"></div>
        <div class="flex justify-between items-center leading-[16px]">
          <div class="">Cart Subtotal</div>
          <div class="">$ 1200</div>
        </div>
        <div class="flex justify-between items-center leading-[16px]">
          <div class="">Delivery Charges</div>
          <div class="">$ 19.61</div>
        </div>
        <div class="flex justify-between items-center leading-[16px]">
          <div class="">Taxes</div>
          <div class="">$ 11.46</div>
        </div>
        <div class="flex justify-between items-center leading-[16px]">
          <div class="">Discount</div>
          <div class="">$ 5.00</div>
        </div>
        <div class="w-full h-[1px] bg-white mt-[10px]"></div>
        <div class="flex justify-between items-center leading-[16px] font-semibold">
          <div class="">Grand Total</div>
          <div class="">$ 11.46</div>
        </div>
        <div class="w-[80%] my-[10px] h-[40px] rounded-[20px] bg-white self-center flex justify-center items-center">
          <div class="text-black font-semibold cursor-pointer">Buy Now</div>
        </div>
      </div>
    </div>
  </div>
</div>