<div class="max-w-[100vw] min-h-[100vh] flex flex-col px-[5vh] py-[5vh] parent p-parent relative"
[ngClass]="{'overflow-hidden max-h-[100vh]': isVisible}">
  <app-navbar></app-navbar>
  <div class="w-full h-full flex gap-[20px] px-[40px] pt-[30px] bg-gray-300 col p-adj">
    <div class="w-full h-full flex-[75] flex flex-col">
      <div class="font-bold text-[28px] leading-[32px]">Shopping Cart</div>
      <div class="text-[16px]"><span class="font-semibold">3 items</span> in your cart</div>
      <div class="w-full h-fit flex flex-col pad bg-white rounded-[20px] my-[30px] px-[30px] py-[30px] gap-[30px]">
        <app-cart-product-card></app-cart-product-card>
        <app-cart-product-card></app-cart-product-card>
        <app-cart-product-card></app-cart-product-card>
      </div>
    </div>
    <div class="w-full h-full flex-[25] sticky top-[35px] flex flex-col gap-[20px] mb-[30px] minw">
      <div class="w-full h-fit bg-white rounded-[20px] flex flex-col px-[20px] py-[16px] gap-[10px]">
        <div class="font-bold text-[24px] leading-[28px] head-adj">Delivery Address</div>
        <div class="w-full h-[1px] bg-black"></div>
        <div class="text-adj">377, Block B, International street of Dholakpur, Dholakpur - 111222, Unknown Pradesh</div>
        <div class="w-[80%] my-[10px] h-[40px] rounded-[20px] bg-black self-center flex justify-center items-center cursor-pointer" (click)="toggleVisibility()">
          <div class="text-white font-semibold head-adj">Change Address</div>
        </div>
      </div>
      <div class="parent w-full h-fit rounded-[20px] flex flex-col text-white px-[20px] py-[16px] gap-[10px]">
        <div class="font-bold text-[24px] leading-[28px] head-adj">Cart Summary</div>
        <div class="w-full h-[1px] bg-white mb-[10px]"></div>
        <div class="flex justify-between items-center leading-[16px] text-adj">
          <div class="">Cart Subtotal</div>
          <div class="">$ 1200</div>
        </div>
        <div class="flex justify-between items-center leading-[16px] text-adj">
          <div class="">Delivery Charges</div>
          <div class="">$ 19.61</div>
        </div>
        <div class="flex justify-between items-center leading-[16px] text-adj">
          <div class="">Taxes</div>
          <div class="">$ 11.46</div>
        </div>
        <div class="flex justify-between items-center leading-[16px] text-adj">
          <div class="">Discount</div>
          <div class="">$ 5.00</div>
        </div>
        <div class="w-full h-[1px] bg-white mt-[10px]"></div>
        <div class="flex justify-between items-center leading-[16px] font-semibold text-adj">
          <div class="">Grand Total</div>
          <div class="">$ 11.46</div>
        </div>
        <div class="w-[80%] my-[10px] h-[40px] rounded-[20px] bg-white self-center flex justify-center items-center cursor-pointer" (click)="toggleVisibility()">
          <div class="text-black font-semibold head-adj">Buy Now</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="absolute bg w-[100vw] h-[100vh] top-0 left-0 flex items-center justify-center z-[20] bg-[#00000050]"
[ngClass]="{'hide': !isVisible}">
  <div class="floating-window relative w-[90%] py-[5px] h-fit min-h-[200px] z-10 bg-white rounded-[10px] max-w-[800px] flex flex-col">
    <div class="w-full mb-[10px] h-[30px] flex items-center justify-between px-[10px] cursor-pointer" (click)="toggleVisibility()">
      <div class="font-bold text-[20px] relative und head-adj">Confirm Order</div>
      X
    </div>
    <div class="w-full flex justify-between items-center px-[10px] text-adj">
      <div class="">Samsung Galaxy S420 x 1</div>
      <div class="font-semibold">$1209</div>
    </div>
    <div class="w-full flex justify-between items-center px-[10px] text-adj">
      <div class="">Motorola Edge 20 x 2</div>
      <div class="font-semibold">$895</div>
    </div>
    <div class="w-full flex justify-between items-center px-[10px] text-adj">
      <div class="">Nokia 3310 x 1</div>
      <div class="font-semibold">$400</div>
    </div>
    <div class="mx-[10px] h-[2px] bg-black"></div>
    <div class="w-full flex justify-between items-center px-[10px] text-adj">
      <div class="">Grand Total</div>
      <div class="font-semibold">$3202</div>
    </div>
    <div class="mx-[10px] h-[2px] bg-black"></div>
    <div class="w-full my-[10px] h-[30px] flex items-center justify-between px-[10px] cursor-pointer" (click)="toggleVisibility()">
      <div class="font-bold text-[20px] relative und head-adj">Deliver To</div>
    </div>
    <div class="text-adj px-[10px]">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium illum voluptatem provident obcaecati ad eaque consectetur nesciunt earum, incidunt repellendus.</div>
  </div>
</div>