<div class="px-[20px] w-full h-fit flex gap-[10px] box">
    <div class="w-full h-full flex flex-1 flex-col gap-[10px] row">
        <div class="w-full aspect-[0.9] border m200 bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=0 ?products[0].productImageUrl:null}}');"></div>
        <div class="w-full aspect-[1.2] border m200 bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=1 ?products[1].productImageUrl:null}}');"></div>
    </div>
    <div class="w-full flex-[2] flex flex-col gap-[10px] row">
        <div class="w-full h-full flex gap-[10px]">
            <div class="w-full border h-full m200 bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=2 ?products[2].productImageUrl:null}}');"></div>
            <div class="w-full border h-full m200 bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=3 ?products[3].productImageUrl:null}}');"></div>
        </div>
        <div class="w-full border h-full hide bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=4 ?products[4].productImageUrl:null}}');"></div>
    </div>
    <div class="w-full flex flex-1 flex-col gap-[10px] hide1000">
        <div class="w-full aspect-[1.2] border bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=5 ?products[5].productImageUrl:null}}');"></div>
        <div class="w-full aspect-[0.9] border bg-center bg-cover bg-no-repeat" style="background-image: url('{{products && products.length>=6 ?products[6].productImageUrl:null}}');"></div>
    </div>
</div>
